<!DOCTYPE html>
<html>

  <head>
    <script data-require="angular.js@*" data-semver="1.2.1" src="http://code.angularjs.org/1.2.1/angular.js"></script>
    <script type="text/javascript">
    	var app = angular.module("app", []);

app.controller("Ctrl", function($scope, $http) {

  $scope.self = {};
      $http.get('dimensionlist.json').success(function(dimensiondata) {
/*    	console.log(dimensiondata.length);*/
			$scope.dimension=dimensiondata;
window.dimensionlen=dimensiondata.length;
/*			console.log(Device);
			console.log(Dimension);*/

    });
    $http.get('advertiser.json').success(function(advertiserdata) {
/*    	console.log(dimensiondata.length);*/
			$scope.advertiser=advertiserdata;
window.advertiserlen=advertiserdata.length;
/*			console.log(Device);
			console.log(Dimension);*/

    });
      $http.get('testjson.json').success(function(globaldata) {

window.globaldatalen=globaldata.length;
$scope.globaldata=globaldata;
   $scope.self.jsonData = globaldata[0];
});
      window.fileText=new Array();
$scope.test = function (dimen) {

document.getElementsByClassName("iframelist")[0].innerHTML='';


	window.Device=document.getElementsByClassName("Device")[0];
	Device=Device.options[Device.selectedIndex].text;
	var advetiser=document.getElementsByClassName("advertiser")[0];
	var advetiser=advetiser.options[advetiser.selectedIndex].text;	

	window.dimension=document.getElementsByClassName("dimension")[0];
	dimension=dimension.options[dimension.selectedIndex].text;
	if(dimension){
		console.log(dimension);
	}else{
		console.log('empty');
	}
	
/*	console.log(advetiser);*/


    for (var k = 0;k<advertiserlen;k++) {
       	if(advetiser==$scope.advertiser[k].Advertiser){
    	window.advertisercss=$scope.advertiser[k].CSS;
    	window.advertiserJS=$scope.advertiser[k].JS;
    	window.Fallback=$scope.advertiser[k].Fallback;
    	window.Fontlink=$scope.advertiser[k].Fontlink;
    	window.Androidstore=$scope.advertiser[k].Androidstore;
    	window.iosstore=$scope.advertiser[k].iosstore;
    	window.MMPAndr=$scope.advertiser[k].MMPAndr;
    	window.MMPIOS=$scope.advertiser[k].MMPIOS;
    	window.Sample_Data=$scope.advertiser[k].Sample_Data;
    	}else{
    	}

   }
    for (var i = 0;i<globaldatalen;i++) {
    	window.globalcss=$scope.globaldata[i].CSS;
    	window.globalHTML=$scope.globaldata[i].HTML;
    	window.globalJS=$scope.globaldata[i].JS;
    }

    window.globalmainJS=globalJS.replace('%7CAndrStore%7C',Androidstore);

window.globalmainJS=globalmainJS.replace('%7CIOSStore%7C',iosstore);
window.globalmainJS=globalmainJS.replace('%7CmmpAndr%7C',MMPAndr);
window.globalmainJS=globalmainJS.replace('%7CmmpIOS%7C',MMPIOS);



window.globalmainJS=globalmainJS.replace('%7CStaticData%7C',advertiserJS);

window.globalmainJS=globalmainJS.replace('%7CDYNAMIC%7CNOENCODING%7C',Sample_Data);
if(Device=="Android"){
window.globalmainJS=globalmainJS.replace('%7CHomestore%7C',Androidstore);
}else{
window.globalmainJS=globalmainJS.replace('%7CHomestore%7C',iosstore);
}

if(document.getElementsByClassName('fallback')[0].checked){

	}else{
		window.Fallback='';
		console.log('not');
	}
	    window.mainglobalmainJS=new Array();
	    if(dimension){
    for (var j = 0;j<dimensionlen;j++) {

if($scope.dimension[j].Dimension==dimension){
	console.log(j);
	document.getElementsByClassName("iframelist")[0].innerHTML='';
    	var indexwidth=$scope.dimension[j].Dimension.indexOf('x');
    	var width=$scope.dimension[j].Dimension.substr(0,indexwidth);
    	    	
    	var height=$scope.dimension[j].Dimension.substr(indexwidth+1,$scope.dimension[j].Dimension.length);

    	window.dimensioncss=$scope.dimension[j].CSS;
    	window.dimensionJS=$scope.dimension[j].JS;

window.mainglobalmainJS[j]=globalmainJS.replace('%7CDimensions%7C',dimensionJS);


      window.scripttag="%3C%2Fscript%3E";

window.fileText[j] = '<!DOCTYPE html><html><head> <title></title>'+decodeURIComponent(Fontlink)+'  <style type="text/css">'+decodeURIComponent(globalcss)+decodeURIComponent(dimensioncss)+decodeURIComponent(advertisercss)+'</style> <script type="text/javascript">'+decodeURIComponent(mainglobalmainJS[j])+decodeURIComponent(Fallback)+decodeURIComponent(scripttag)+'</head><body>'+decodeURIComponent(globalHTML)+'</body></html>';
var ifrm=document.createElement("iframe");
ifrm.id='iframe'+j;
ifrm.width=width;
ifrm.height=height;
var wraper=document.createElement("div");
wraper.className="wraper";
var button=document.createElement("button");
button.setAttribute("onclick","expFile("+j+")");
button.innerHTML = "Download";
var dimenval=document.createElement("p");
dimenval.innerHTML=$scope.dimension[j].Dimension;
wraper.appendChild(dimenval);
wraper.appendChild(ifrm);
wraper.appendChild(button);
document.getElementsByClassName("iframelist")[0].appendChild(wraper);
var doc=document.getElementById('iframe'+j).contentWindow.document;
doc.open();
doc.write(fileText[j]);
doc.close();
}else{

}
   }
	    }else{
	    	console.log('empty');
	    	for (var j = 0;j<dimensionlen;j++) {


    	var indexwidth=$scope.dimension[j].Dimension.indexOf('x');
    	var width=$scope.dimension[j].Dimension.substr(0,indexwidth);
    	    	
    	var height=$scope.dimension[j].Dimension.substr(indexwidth+1,$scope.dimension[j].Dimension.length);

    	window.dimensioncss=$scope.dimension[j].CSS;
    	window.dimensionJS=$scope.dimension[j].JS;

window.mainglobalmainJS[j]=globalmainJS.replace('%7CDimensions%7C',dimensionJS);


      window.scripttag="%3C%2Fscript%3E";

window.fileText[j] = '<!DOCTYPE html><html><head> <title></title>'+decodeURIComponent(Fontlink)+'  <style type="text/css">'+decodeURIComponent(globalcss)+decodeURIComponent(dimensioncss)+decodeURIComponent(advertisercss)+'</style> <script type="text/javascript">'+decodeURIComponent(mainglobalmainJS[j])+decodeURIComponent(Fallback)+decodeURIComponent(scripttag)+'</head><body>'+decodeURIComponent(globalHTML)+'</body></html>';
var ifrm=document.createElement("iframe");
ifrm.id='iframe'+j;
ifrm.width=width;
ifrm.height=height;
var wraper=document.createElement("div");
wraper.className="wraper";
var button=document.createElement("button");
button.setAttribute("onclick","expFile("+j+")");
button.innerHTML = "Download";
var dimenval=document.createElement("p");
dimenval.innerHTML=$scope.dimension[j].Dimension;
wraper.appendChild(dimenval);
wraper.appendChild(ifrm);
wraper.appendChild(button);
document.getElementsByClassName("iframelist")[0].appendChild(wraper);
var doc=document.getElementById('iframe'+j).contentWindow.document;
doc.open();
doc.write(fileText[j]);
doc.close();

   }
	    }








}

});

function expFile(j) {
	window.downloadglobalmainJS=globalmainJS.replace(Sample_Data,'%7CDYNAMIC%7CNOENCODING%7C');

var fileName = "index.html";
saveTextAsFile(fileText[j], fileName);
}

   function saveTextAsFile (data, filename){

        if(!data) {
            console.error('Console.save: No data')
            return;
        }

        if(!filename) filename = 'console.json'

        var blob = new Blob([data], {type: 'text/plain'}),
            e    = document.createEvent('MouseEvents'),
            a    = document.createElement('a')
  if (window.navigator && window.navigator.msSaveOrOpenBlob) {
      window.navigator.msSaveOrOpenBlob(blob, filename);
  }
  else{
      var e = document.createEvent('MouseEvents'),
          a = document.createElement('a');

      a.download = filename;
      a.href = window.URL.createObjectURL(blob);
      a.dataset.downloadurl = ['text/plain', a.download, a.href].join(':');
      e.initEvent('click', true, false, window,
          0, 0, 0, 0, 0, false, false, false, false, 0, null);
      a.dispatchEvent(e);
      console.log(window.URL.createObjectURL(blob));
  }

}
function insert(){
var doc = document.getElementById('iframe').contentWindow.document;
doc.open();
doc.write(fileText);
doc.close();
}
/*function fallback(){

	if(document.getElementsByClassName('fallback')[0].checked){

	}else{
		console.log("not");
	}
}*/

    </script>
  </head>
<style type="text/css">
	iframe#iframe {
    width: 520px;
    height: 640px;
        margin-top: 10px;
    border: 0;
}iframe {
width: 430px;
    float: left;
    margin-top: 10px;
        border: 0;  
          border: 0;
    display: table;
}
button{
	cursor: pointer;
}.wraper {
    /* float: left; */
    width: 100%;
    display: inline-block;
}p {
    width: 6%;
    float: left;
}
</style>
  <body ng-app="app">
    <div ng-controller="Ctrl">
 
	    <select ng-model="selectedName1" ng-options="x.Advertiser for x in advertiser" class="advertiser" ng-change="test()">
	</select>   

        <select ng-model="selectedName" ng-options="x.Dimension for x in dimension" class="dimension" ng-change='test()'>
        	
	</select>  
    	<select name="Device" class="Device" onchange="">
		<option ng-model='Android'>Android</option>
		<option ng-model='IOS'>IOS</option>
	</select>
	<input type="checkbox" name="fallback" class="fallback" checked="checked">Fallback</input>


    <br>
    	<div class="iframelist">
    		
    	</div> 
    	</div>
  </body>

</html>
